/*.dot {*/
/*width: 2px;*/
/*height: 2px;*/
/*background-color: black;*/
/*position: absolute;*/
/*}*/

.success.button {
    cursor: inherit;
}

body {
    /*adding this to ensure the page doesn't refresh on dragging down*/
    overscroll-behavior: contain;
}

.panel {
    margin: 20px;
    /*height: 100vh;*/
}

#toBeTracked .nimstim {
    min-height: 270px;
}

#startTrial.white {
    background-color: red !important;
}

#horizontal .panel {
    display: flex;
    height: 80vh;
    flex-direction: column;
    justify-content: space-between;
}

#vertical .panel {
    height: 90vh;
}

#vertical .panel > .row {
    height: 100%;
}

#vertical .panel > .row .columns.targets {
    display: block;
    height: 100%;
}

#vertical .panel .row {
    /*display: table;*/
    width: 100%;
}

#vertical .panel > .row .row {
    height: 50%;
}

#vertical .panel .row .columns {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#horizontal .row .columns {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fixImg {
    height: 125px;
}

#touchIndicator {
    position: absolute;
    width: 40px;
    text-align: center;
    z-index: 10;
    height: 40px;
    line-height: 40px;
}

#touchIndicator img {
    max-width: 24px;
}

#scaleImg {
    margin: 20px 0;
}