.success.button {
    cursor: inherit;
}

body {
    /*adding this to ensure the page doesn't refresh on dragging down*/
    overscroll-behavior: contain;
}

form.row {
    margin: 50px auto;
}

.controls {
    line-height: 100%;
    margin: 75px auto;
}

#time-lapse {
    font-size: 100px;
    line-height: 100px;
    font-family: digital;
}

#analog-button img {
    height: 300px;
}

#analog-button img:active {
    /*background-color: #3e8e41;*/
    /*box-shadow: 0 5px #666;*/
    transform: translateY(5px);
}

#knob-value {
    font-size: 75px;
    border: 2px solid;
    border-radius: 20px;
    padding: 20px 40px;
    font-weight: bold;
}

.marginTop {
    margin-top: 75px;
}

.fixToBottom {
    bottom: 100px;
    position: absolute;
}

@font-face {
    font-family: 'digital'; /*a name to be used later*/
    src: url('digital.ttf'); /*URL to font*/
}