.success.button {
    cursor: inherit;
}

body {
    /*adding this to ensure the page doesn't refresh on dragging down*/
    overscroll-behavior: contain;
}


.controls {
    line-height: 100%;
}

.time-lapse {
    font-size: 75px;
    line-height: 100px;
    font-family: digital;
}

.knob-value {
    font-size: 75px;
    border: 2px solid;
    border-radius: 20px;
    padding: 20px 40px;
    font-weight: bold;
}

.marginTop {
    margin-top: 75px;
}

@font-face {
    font-family: 'digital'; /*a name to be used later*/
    src: url('digital.ttf'); /*URL to font*/
}