/*.dot {*/
/*width: 2px;*/
/*height: 2px;*/
/*background-color: black;*/
/*position: absolute;*/
/*}*/

.success.button {
    cursor: inherit;
}

.panel {
    margin: 20px;
    /*height: 100vh;*/
}

#toBeTracked .nimstim {
    min-height: 270px;
}

#startTrial.white {
    background-color: white !important;
    color: black !important;
    border: 1px solid black;
}